.presentation{
    display: flex;
    width: 100%;
}

.contentPresentation {
    width: 100%;
}

.contentPresentation h1, .contentPresentation p{
    width: 80%;
    margin: 30px auto 10px auto;
}

.contentPresentation h2{
    width: 80%;
    margin: 0 auto 30px auto;
}

.contentPresentation p {
    width: 80%;
    margin: auto;
}

.illuPresentation{
    width: 80%;
}

@media screen and (max-width: 768px){
    .illuPresentation {
        width: 100%;
    }

    .contentPresentation h1 {
        font-size: 50px;
    }

    .contentPresentation h1, .contentPresentation p {
        margin: 35px auto;
    }
}

@media screen and (max-width: 426px){
    .contentPresentation p {
        font-size: 11px ;
    }

    .contentPresentation h1 {
        font-size: 30px;
    }

    .contentPresentation h1, .contentPresentation p {
        margin: 10px auto;
    }

    .contentPresentation h2{
        font-size: 15px;
    }
}


