.presentation{
    display: flex;
    width: 100%;

}

.contentPresentation {
    width: 100%;
}

.contentPresentation h1, .contentPresentation p{
    width: 80%;
    margin: 50px auto;
}

.contentPresentation p {
    width: 80%;
    margin: auto;
}

.illuPresentation{
    width: 80%;
}

