header {
    width: 100%;
    display: flex;
    background-color: #1e1452;
}

nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav ul {
    display: flex;
    width: 50%;
    justify-content: space-around;
}

nav ul li {
    list-style: none;
    color: #FFFFFF;
}

.logoClausius {
    width: 9%;
}

.logoClausius img {
    width: 100%;
}

.navActions {
    display: flex;
    justify-content: space-between;
}

.awsBarsBox{
    display: none;
}

.navButtons {
    width: 130px;
    background-color: transparent;
    border: none;
    border-radius: 6px;
    padding: 8px 0;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
}

.navButtons:hover {
    filter: brightness(95%);
    transform: scale(1.05);
    transition: .5s;
}

.navButtons:not(:hover) {
    filter: brightness(100%);
    transform: scale(1);
    transition: .5s;
}

.none {
    display: none;
}

.positionActions {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 50px;
}

@media screen and (max-width: 1024px){
    .logoClausius {
        width: 14%;
    }
}

@media screen and (max-width: 768px) {
    .logoClausius {
        width: 20%;
    }

    nav ul {
        width: 45%;
    }
}

@media screen and (max-width: 426px) {
    .logoClausius {
        width: 20%;
    }

    header nav, header .positionActions {
        display: none;
    }

    header {
        display: flex;
        justify-content: space-between;
    }

    .awesomeBars {
        display: flex;
        align-self: center;
        color: #FFFFFF;
        margin: auto;
    }

    .awesomeBars, #cross {
        font-size: 5vw;
    }

    #cross {
        color: #1e1452;
    }

    .awsBarsBox {
        display: flex;
        width: 15%;
    }


    header .slidingLink {
        position: absolute;
        height: 99vh;
        width: 99vw;
        background: #fff;
        transform: translate3d(100vw, 0, 0);
        transition: .2s;
        border: 0.5vw solid #1e1452;
    }

    header .flex {
        transition-delay: 1s;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition: .5s;
        transform: translate3d(0, 0, 0);
    }

    .faTimesTopRight {
        position: absolute;
        top: 5vh;
        right: 5vw;
    }

    .slidingLink ul {
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding: 0;
    }

    .slidingLink h4 {
        color: #1e1452;
    }

    .slidingLink li {
        list-style: none;

    }

    .webPages, .appPages {
        text-align: center;
    }

    .conceptCard {
        margin-bottom: 10px;
    }
}