.concept {
    width: 100%;
    padding: 80px 0;
}

.concept h2 {
    width: 90%;
    margin: 0 auto 35px auto;
    color: #1e1452;
}



.positionConcept {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

.positionConcept img{
    width: 20%;
}
