.presentation{
    display: flex;
    width: 85%;
    margin: auto;
}

.contentPresentation {
    width: 55%;
}

.contentPresentation h1, .contentPresentation p{
    margin: 50px 0;
}

.contentPresentation p {
    width: 70%;
    text-align: justify;
}

.illuPresentation{
    width: 45%;
}

.illuPresentation img{
    width: 100%;
}