header {
    width: 100%;
    display: flex;
    background-color: #1e1452;
}

nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav ul {
    display: flex;
    width: 30%;
    justify-content: space-around;
}

nav ul li {
    list-style: none;
    color: #FFFFFF;
}

.logoClausius{
    width: 15%;
}

.logoClausius img{
    width: 100%;
}

.navActions {
    display: flex;
    justify-content: space-between;
}

.navButtons{
    width: 130px;
    background-color: #FFFFFF;
    border: none;
    border-radius: 6px;
    box-shadow: 3px 3px rgba(0,0,0,0.16);
    padding: 4px 0;
    cursor: pointer;
}

.navButtons:hover{
    filter: brightness(95%);
    transform: scale(1.05);
    transition: .3s;
}

.positionActions {
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 50px;
}