footer {
    background-color: #1e1452;
}

.userActionsFooter {
    width: 90%;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid white;
    margin: auto;
    padding: 50px 0;
}

.userActionsFooter .newsletter {
    width: 30%;
    text-align: center;
}

.userActionsFooter .newsletter .navButtons {

    width: 50%;
}

.socialCgu{
    display: flex;
}

.signUpLogin {
    width: 25%;
    display: flex;
    justify-content: space-between;
}

.logoFooter {
    width: 25%;
}

.logoFooter img{
    width: 100%;
}

.socialNetwork{
    width: 30%;
}

.socialNetwork span{
    min-width: 50%;
    border-radius: 900px;
    background-color: #FFFFFF;
}

.cguMentions, .copyrights{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
    color: #FFFFFF;
}

.copyrights{
    flex-direction: column-reverse;
    justify-content: normal;
    padding-bottom: 10px;
}

.cguMentions li{
    list-style: none;
}

