footer {
    background-color: #1e1452;
}

.userActionsFooter {
    width: 90%;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid white;
    margin: auto;
    padding: 50px 0;
}

.userActionsFooter .newsletter {
    width: 30%;
    text-align: center;
}

.userActionsFooter .newsletter .navButtons {

    width: 50%;
}

.socialCgu {
    display: flex;
}

.signUpLogin {
    width: 25%;
    display: flex;
    justify-content: space-between;
}

.logoFooter {
    width: 10%;
}

.logoFooter img {
    width: 100%;
}

.socialNetwork {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 30%;
}

.socialNetwork img {
    width: 10%;
    border-radius: 900px;
    background-color: #FFFFFF;
    cursor: pointer;
}

.socialNetwork img:hover {
    filter: brightness(95%);
    transform: scale(1.05);
    transition: .5s;
}

.cguMentions, .copyrights {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
    color: #FFFFFF;
}

.copyrights {
    flex-direction: column-reverse;
    justify-content: normal;
    padding-bottom: 10px;
}

.cguMentions li {
    list-style: none;
}

@media screen and (max-width: 768px) {
    .signUpLogin {
        width: 35%;
    }

    .socialCgu {
        display: flex;
        flex-direction: column;
    }

    .logoFooter {
        width: 40%;
        margin: auto;
    }

    .socialNetwork {
        width: 30%;
        margin: auto;
    }

    .socialNetwork img {
        width: 20%;
    }

    .cguMentions {
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        text-align: center;
    }

    .cguMentions li {
        border-right: 1px solid white;
    }

    .cguMentions, .copyrights {
        margin-top: 30px;
    }
}

@media screen and (max-width: 426px) {

    .concept {
        padding: 30px 0;
    }

    .signUpLogin {
        width: 25%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .signUpLogin .navButtons {
        width: fit-content;
    }

    .logoFooter, .socialNetwork, .cguMentions {
        margin-bottom: 10px;
    }
}
