.team .member {
    display: flex;
}

.team .member:nth-child(2) {
    flex-direction: row-reverse;
}

.contentTeam h1 {
    font-size: 45px;
    text-align: center;
    margin: 20px 0;
}

.contentTeam {
    width: 60%;
    margin: 30px auto;
}
