.card {
    width: 30%;
    text-align: center;
}

.card img{
    min-width: 130px;
    min-height: 130px;
    background-color: red;
    border-radius: 90px;
    margin: 15px 0;
}

.card h3{
    color: #FFFFFF;
    margin: 15px 0;
}

.card p{
    width: 80%;
    color: #FFFFFF;
    margin: 35px auto;
}

